body{
    background-color: black;
    background-image: url("kuvat/tausta3.png");
}

.container{
    text-align: center;
    padding-left: 12%;
    padding-top: 3%;
     
}
.containerlinkpage{
    text-align:center;
    padding-bottom:190px;
}
body footer{
    background-color:rgb(85, 82, 84);
    position: relative;
    bottom: 0;
    width:100%;
    height:2.5rem;
    text-align:center;
    padding-top: 8px;
    font-weight:600;
    color:white;
}
/* NAV BAR KOODI ALKAA   */



.navbar-brand2{

    padding-left: 2%;
    color: white;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.nav-item{
  
  padding-left: 6em;
 
}
.navbar-brand2:hover{
    color:  rgb(37, 218, 224);
}
.nav-link{
  color:white; 
  font-weight: 600;
}
.nav-link:hover{
    color: rgb(37, 218, 224);
    font-weight: 600;
  }
.sidebar-nav {
    padding: 9px 0;
}



.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.navbar .sub-menu:before {
    border-bottom: 0.438em solid transparent;
    border-left: none;
    border-right: 0.438em solid rgba(63, 62, 60, 0.2);
    border-top: 0.438em solid transparent;
    left: -0.438em;
    top: 0.625em;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 0.625em;
    top: 0.688em;
    left: -0.375em;
 }








/* Hide the link that should open and close the topnav on small screens */
.nav.fixed-top .icon {
  display: none;
}
.nav.fixed-top{
  background-color:rgba(0, 0, 0, 0.438);
  width:100%;
  
}
/*palvelut sivun kuvan kuvateksitn muotoilu*/
figcaption{
  text-align: center;
  
}
/*Otsikoiden muotoilut alkaa*/
 .container h1
 {
    font-family: 'fantasy',fantasy;
    font-size: 5em;
    text-align: center;
    color:	#56ebe6;
    padding: 2%;
    letter-spacing: 5px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-shadow: 2px 2px #353232;
 }

 h3
 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color:rgb(5, 65, 28);
    font-weight: bold;
    padding: 2%;
    letter-spacing: 3px;
 }

 h4{
   padding-left:1em;
 }
 
h4 a{
  color:black
  
}


/* Container for skill bars */
.container2 {
  margin-left: 22px;
  width: 90%; 
  background-color: rgb(241, 241, 241);
}

.button {
  background-color:	#56ebe6;
  color: rgb(14, 13, 13);
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  height:3.75em;
  width:31.25em;
  font-weight: bold;
}
.palvelut{

  border-radius: 0.313em;
  padding: 1.25em;
  text-align: left;
}



dd{
  border-radius: 0.313em;
  padding: 1.25em;
  font-size: large;
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

.lisapalvelu{
  font-size: 20px;
  color:rgb(12, 12, 12);

}
.column1{
 
  padding-left: 5em;
  
}
.footer3{

  bottom: 0;
  left: 0;
  position: fixed;
    width: 100%;
    height: 2em;
    margin: 0 auto;
 
  

/*padding-top:280px;*/
}
.column{
  
  text-align: left;
  float:left; 
  width:50%;
  margin-left:30px;
  }
.column2{
padding-left: 31em;

}
.column3{
  text-align: left;
  padding-left: 10em;
}


.basic{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  text-align: left;
  color:	#56ebe6;
  font-weight: bold;
  padding: 2%;
  letter-spacing: 0.188em;
  text-shadow: 2px 2px #353232;
  
 
}







/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container .button {
    background-color:	#56ebe6;
    color: white;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    height:7em;
    width:11em;
    margin-bottom: 1em;
  }
  .column   .basic{

    color:	#56ebe6;
    text-shadow: 2px 2px #353232;
    text-align: center;
  }
  .container .palvelutOtsikko{
    padding-top:10rem;
   
  }

  .container{
    text-align: center;
   
    width: 100%;
    padding-left: 2rem;
  }
  .footer3{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 7em;
  }
  body footer{
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    position: fixed;
    float: none;
    width: 100%;
    height: 3rem;
    text-align: center;
   
  }

  .column{
    width: 100%;
    text-align: center;
   
  }
  .column3{
    width: 100%;
    text-align: center;
    padding-left: 15em;
  }
  .column2{
    width: 100%;
    text-align: center;
    padding-left: 2em;
  }
  
  .container h1{
    width: 100%;
    text-align: center;
    padding-top:4rem;
    font-size: 250%;
   
   
  }
  h3{
    width: 100%;
    text-align: center;
   
   
  }
  .container h2{
    width: 100%;
    text-align: center;
    
    font-size: 120%;
  }
  h4 a{
    color:rgb(8, 8, 8);
  }
  h4{
    width: 100%;
    text-align: center;
    
   
  }
  p{
    width: 100%;
    text-align: center;
    
   
  }



 


  .navbar-brand2{
    display:flex;

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-left: 1em;
    text-align: center;
    
}
.nav-item{
  float: left;
 
}
.navbar-brand2:hover{
    color:  	#56ebe6;
}
nav  fixed-top .nav-item .nav-link{
  color:white; 
  margin-top: 12px;
  text-align: center;

  float: none;
  display: block;
  text-align: left;
}
.nav-link:hover{
    color:	#56ebe6;
    font-weight: 200;
  }

  #myTopnav{

    max-height: none;
    top: 0;
    position: relative;
    float: none;
    width: 100%;
  }
  #carousel-example-2{
    display: none;
  }

  .nav.fixed-top{
    background-color:rgba(0, 0, 0, 0.438);
    width:fit-content;
    margin: auto;
    float: none;
  }

  .row .column1{
    display: none;
  }
  body{
    background-image: url("kuvat/mobiilitausta4.png");;
  }
}












@media screen and (min-width:601px)and(max-width: 992px) {
  container button {
    background-color: 	#56ebe6;
    color: white;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    height:7em;
    width:10em;
  }
  body{
    background-image: url("kuvat/mobiilitausta4.png");;
  }
   dl dt{

    color:	#56ebe6;
    text-shadow: 2px 2px #353232;
    text-align: center;
  }
 

  .container{
    text-align: center;
  
    width: 100%;
    padding-left: 20rem;
  }
  .footer3{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 7em;
  }
  body footer{
    display: flex;
    
  
    position: fixed;
    width: 100%;
    height: 10rem;
  }


  .column3{
    width: 100%;
    text-align: center;
    padding-left: 15em;
  }
  .column2{
    width: 100%;
    text-align: center;
    padding-left: 2em;
  }
  h1{
    width: 100%;
    text-align: center;
    padding-top: 10rem;
   
   
  }
  h3{
    width: 100%;
    text-align: center;
   
   
  }
  h2{
    width: 100%;
    text-align: center;
    
  }
  h4 a{
    color:white;
  }
  h4{
    width: 100%;
    text-align: center;
    color: white
   
  }
  p{
    width: 100%;
    text-align: center;
    
   
  }

 

 


  .navbar-brand2{
    display:flex;

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-left: 1em;
    text-align: center;
    
}
.nav-item{
  float: left;
 
}
.navbar-brand2:hover{
    color: 	#56ebe6;
}
nav  fixed-top .nav-item .nav-link{
  color:white; 
  margin-top: 12px;
  text-align: center;

  float: none;
  display: block;
  text-align: left;
}
.nav-link:hover{
    color: 	#56ebe6;
    font-weight: 200;
  }

  #myTopnav{

    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  #carousel-example-2{
    display: none;
  }

  .nav.fixed-top{
    background-color:rgba(0, 0, 0, 0.438);
    width:100%;
    
  }
}